@media (min-width: 320px) and (max-width:699px){
 body{
  #grilla{
    overflow-x: hidden;
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    grid-template-columns:100%;
    .header {
      grid-area: header;
    }
    .main{
      grid-area: main;
    }
    .footer{
      grid-area: footer;
    }
  }
 }
 /*menu de incio*/
 header{
  #header{
   background-color:$fondos-textos;
   width: 100%;
   display: grid;
   grid-template-areas: 
   "imagen-logo" 
   "menu";
   grid-template-columns:1fr;
   grid-template-rows: 120px 40px;
   justify-items: center;
  }
  section{
    .imagen-logo{
      grid-area: imagen-logo;
      background-color:$fondos-textos;
      height: 120px;
      width: 120px;
      padding: 5px 1px 1px;
    }   
  }
  nav{
    ul{
     .menu{
        grid-area: menú;
        justify-items: start;
        height: 40px;
        padding: 15px;
        margin: 1px 5px ;
        .textomenu{ 
         grid-area: menu;
         justify-items: start;
         font-size: 12px;
         padding: 5px 9px;
        }
        a:hover{
          padding: 5px;
        }
      }
    }
  }
 }
 /*frase inicio*/
 main{
  div {
    h2{
     font-size: 20px;
     height: 60px;
     padding: 10px;
     margin: 15px 20px;
     border-radius: 15px;
     
    }
  } 
 }
 /*listas de la pagina de incio*/
 main{
  nav{
    div{
      .listainicio{
       height: 60px;
       padding: 20px;
       margin: 20px;
       border-radius: 20px;
       a{
         font-size: 20px;
         height: 30px;
        }
      }
    }
  }
 }   
 /*pie de pagina*/
 footer{
  div{
    h6{
      font-size: 25px;
    }
  }
  div{
    .redesfooter{
      .footerr{
       height: 35px;
       width: 35px;
      }
    }
  }
  div{
    .pie-de-pagina{
      font-size: 12px;
      padding: 10px 5px 5px;
      margin: 10px 10px 5px;
    }
  }
 }
}