$texto-menu:(
    font: "bebas neue",
    size: 25px,
    padding: 40px 10px,
    margin: 1px,
    decoration: none,
    color: #918f91,
);
$texto-footer:(
    font: "bebas neue",
    color: #918f91,
    align: center,
    width: 100%,
    size: 45px,
    padding: 10px,
    margin: 10px,
);
$textos-inicio:(
    color: black,
    font: "julius",
    size: 30px,
    align: center,
    decoration: none,
    height: 40px,
    padding: 5px,
    margin: 5px,
)