/*pagina servicios*/
main{
    section{
        #servicios{
            display: grid;
            grid-template-areas: 
            "servicio1 servicio2 servicio3";
            grid-template-columns: repeat(3 1fr);
            grid-template-rows: 100%;
            align-self: center;
             .diseño-de-marca{
              grid-area: servicio1;
            }
            .diseño-de-papeleria{
               grid-area: servicio2;
            }
            .diseño-web{
               grid-area: servicio3;
            }
        }
        div{
            .imagen-servicio{
                height: 300px;
                width: 400px;
                padding: 5px;
                margin:15px;
            }
        }
        div{
            h3{
                font-family: "bebas neue";
                font-size: 20px;
                color: black;
                background-color: $color-listas;
                text-align: center;
                height: 35px;
                width: 400px;
                padding: 5px;
                margin:15px;
                border-radius: 15px;
            }
        }
        div{
            ul{
                .lista-servicios{
                    list-style-type: none;
                    color: black;
                    background-color: $fondos-textos;
                    font-family: "julius";
                    font-size: 20px;
                    text-align: start;
                    height: 100%;
                    width: 400px;
                    padding: 15px;
                    margin: 15px;
                    border-radius: 10px;
                }
            }
        }
        div{
            .boton{
             font-family: "julius";
             text-decoration: none;
             background-color: $color-listas;
             text-align: center;
             height: 40px;
             width: 400px;
             padding: 10px;
             margin:15px;
             border-radius: 15px;
             .textoboton{
                  text-decoration: none;
                 color: black;
                 font-size: 20px;
                 padding: 1px;
                 margin: 1px;
                }
            }
        }
    }
}



