*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../img/fondo1.png);
    background-size: cover;
}
/*maqueta pagina principal*/
  #grilla{
    overflow-x: hidden;
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    grid-template-columns:100%;
    .header {
    grid-area: header;
    }
   .main{
    grid-area: main;
   }
   .footer{
    grid-area: footer;
    }
   }
@import "fonts";
@import "maps";
@import "variables_extend_mixins";   
/*****INDEX*****/
@import "inicio";
@import "indexmobile";
/*****SOBRE MI*****/
@import "sobremi";
@import "sobremimobile";
/*****PROYECTOS*****/
@import "proyectomobile";
@import "proyectomedia";
@import "proyecto";
/*****SERVICIOS*****/
@import "servicios";
@import "serviciosmedia";
@import "serviciosmobile";
/*****CONTACTO*****/
@import "contacto";
@import "contactomobile";
