@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../img/fondo1.png);
  background-size: cover;
}

/*maqueta pagina principal*/
#grilla {
  overflow-x: hidden;
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 100%;
}
#grilla .header {
  grid-area: header;
}
#grilla .main {
  grid-area: main;
}
#grilla .footer {
  grid-area: footer;
}

@font-face {
  font-family: "julius";
  src: url(../fonts/JuliusSansOne-Regular.ttf);
}
@font-face {
  font-family: "bebas neue";
  src: url(../fonts/BebasNeue-Regular.ttf);
}
/*****INDEX*****/
/******INDEX******/
/*menu de incio*/
header #header {
  overflow: hidden;
  background-color: #F4E7EC;
  display: grid;
  grid-template-areas: "imagen-logo menu";
  grid-template-columns: 140px 1fr;
  grid-template-rows: 135px;
}
header section .imagen-logo {
  grid-area: imagen-logo;
  background-color: #F4E7EC;
  height: 130px;
  width: 130px;
  padding: 2px;
  margin: 2px;
}
header nav ul .menu {
  overflow: hidden;
  grid-area: menu;
  text-decoration: none;
  list-style-type: none;
  height: 140px;
  padding: 40px 10px;
  margin: 10px 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header nav ul .menu .textomenu {
  font-family: "bebas neue";
  font-size: 25px;
  padding: 40px 10px;
  margin: 1px;
  text-decoration: none;
  color: #918f91;
}
header nav ul .menu a:hover {
  font-weight: lighter;
  padding: 8px;
  background-color: #f6dce6;
  color: #918f91;
}

/*frase inicio*/
/*listas de la pagina de incio*/
main nav div .listainicio, main nav div h2 {
  overflow: hidden;
  background-color: #e8a197;
  opacity: 70%;
  text-align: center;
  height: 100px;
  padding: 30px;
  margin: 25px 50px;
  border-radius: 30px;
}
main nav div .listainicio a, main nav div h2 a {
  color: black;
  font-family: "julius";
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  height: 40px;
  padding: 5px;
  margin: 5px;
}

/*pie de pagina*/
footer {
  overflow: hidden;
  background-color: #F4E7EC;
  opacity: 80%;
}
footer div h6 {
  font-family: "bebas neue";
  color: #918f91;
  text-align: center;
  width: 100%;
  font-size: 45px;
  padding: 10px;
  margin: 10px;
}
footer div .redesfooter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
footer div .redesfooter .footerr {
  height: 45px;
  width: 45px;
}
footer div .pie-de-pagina {
  font-family: "julius";
  color: black;
  font-size: 20px;
  text-align: center;
  width: 100%;
  padding: 30px 5px 5px;
  margin: 10px;
}

@media (min-width: 320px) and (max-width: 699px) {
  body #grilla {
    overflow-x: hidden;
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-columns: 100%;
  }
  body #grilla .header {
    grid-area: header;
  }
  body #grilla .main {
    grid-area: main;
  }
  body #grilla .footer {
    grid-area: footer;
  }
  /*menu de incio*/
  header #header {
    background-color: #F4E7EC;
    width: 100%;
    display: grid;
    grid-template-areas: "imagen-logo" "menu";
    grid-template-columns: 1fr;
    grid-template-rows: 120px 40px;
    justify-items: center;
  }
  header section .imagen-logo {
    grid-area: imagen-logo;
    background-color: #F4E7EC;
    height: 120px;
    width: 120px;
    padding: 5px 1px 1px;
  }
  header nav ul .menu {
    grid-area: menú;
    justify-items: start;
    height: 40px;
    padding: 15px;
    margin: 1px 5px;
  }
  header nav ul .menu .textomenu {
    grid-area: menu;
    justify-items: start;
    font-size: 12px;
    padding: 5px 9px;
  }
  header nav ul .menu a:hover {
    padding: 5px;
  }
  /*frase inicio*/
  main div h2 {
    font-size: 20px;
    height: 60px;
    padding: 10px;
    margin: 15px 20px;
    border-radius: 15px;
  }
  /*listas de la pagina de incio*/
  main nav div .listainicio, main nav div h2 {
    height: 60px;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
  }
  main nav div .listainicio a, main nav div h2 a {
    font-size: 20px;
    height: 30px;
  }
  /*pie de pagina*/
  footer div h6 {
    font-size: 25px;
  }
  footer div .redesfooter .footerr {
    height: 35px;
    width: 35px;
  }
  footer div .pie-de-pagina {
    font-size: 12px;
    padding: 10px 5px 5px;
    margin: 10px 10px 5px;
  }
}
/*****SOBRE MI*****/
/******SOBRE MI******/
/*contenido del main*/
main #sobremi-main {
  overflow-x: hidden;
  display: grid;
  grid-template-areas: "carrusel parrafo";
  grid-template-columns: repeat(2 1fr);
}
main div .carrusel {
  grid-area: carrusel;
  margin: 10px;
}
main section .parrafo {
  overflow: hidden;
  grid-area: parrafo;
  font-family: "julius";
  color: black;
  background-color: #F4E7EC;
  font-size: 20px;
  width: 700px;
  padding: 5px;
  margin: 10px;
  border-radius: 25px;
}

@media (min-width: 320px) and (max-width: 699px) {
  main #sobremi-main {
    display: grid;
    grid-template-areas: "carrusel" "parrafo";
    grid-template-rows: repeat(2 1fr);
    justify-items: center;
  }
  main div .carrusel {
    grid-area: carrusel;
    width: 300px;
    margin: 10px;
  }
  main section .parrafo {
    grid-area: parrafo;
    font-size: 12px;
    width: 300px;
    padding: 5px;
    margin: 5px;
    border-radius: 15px;
  }
}
/*****PROYECTOS*****/
@media (min-width: 320px) and (max-width: 699px) {
  main section #pagina-proyecto {
    display: grid;
    grid-template-areas: "proyecto1" "proyecto2" "proyecto3" "proyecto4" "proyecto5" "proyecto6";
    grid-template-columns: repeat(1fr);
    grid-template-rows: 6 1fr;
    justify-items: center;
  }
  main section #pagina-proyecto .proyecto1 {
    grid-area: proyecto1;
  }
  main section #pagina-proyecto .proyecto2 {
    grid-area: proyecto2;
  }
  main section #pagina-proyecto .proyecto3 {
    grid-area: proyecto3;
  }
  main section #pagina-proyecto .proyecto4 {
    grid-area: proyecto4;
  }
  main section #pagina-proyecto .proyecto5 {
    grid-area: proyecto5;
  }
  main section #pagina-proyecto .proyecto6 {
    grid-area: proyecto6;
  }
  main section div h4 {
    font-size: 20px;
    width: 300px;
    height: 25px;
    padding: 3px;
    margin: 10px;
    border-radius: 10px;
  }
  main section div .carrusel-imagen {
    height: 300px;
    width: 300px;
    padding: 10px;
    margin: 10px;
  }
  main section div p .texto-proyecto {
    font-size: 12px;
    color: black;
    height: 100%;
    width: 300px;
    padding: 3px;
    margin: 10px;
    border-radius: 10px;
  }
}
@media (min-width: 700px) and (max-width: 1200px) {
  main section #pagina-proyecto {
    display: grid;
    grid-template-areas: "proyecto1 proyecto2" "proyecto3 proyecto4" "proyecto5 proyecto6";
    grid-template-columns: repeat(2 1fr);
    grid-template-rows: 3 1fr;
    justify-items: center;
  }
  main section #pagina-proyecto .proyecto1 {
    grid-area: proyecto1;
  }
  main section #pagina-proyecto .proyecto2 {
    grid-area: proyecto2;
  }
  main section #pagina-proyecto .proyecto3 {
    grid-area: proyecto3;
  }
  main section #pagina-proyecto .proyecto4 {
    grid-area: proyecto4;
  }
  main section #pagina-proyecto .proyecto5 {
    grid-area: proyecto5;
  }
  main section #pagina-proyecto .proyecto6 {
    grid-area: proyecto6;
  }
  main section div h4 {
    font-size: 25px;
    height: 35px;
    width: 300px;
    margin: 10px 25px;
    border-radius: 10px;
  }
  main section div .carrusel-imagen {
    height: 300px;
    width: 300px;
    padding: 10px;
    margin: 10px 25px;
  }
  main section div p .texto-proyecto {
    font-size: 15px;
    height: 410px;
    width: 300px;
    padding: 5px;
    margin: 10px 25px;
    border-radius: 10px;
  }
}
/*pagina proyectos*/
main section #pagina-proyecto {
  display: grid;
  grid-template-areas: "proyecto1 proyecto2 proyecto3" "proyecto4 proyecto5 proyecto6";
  grid-template-columns: repeat(3 1fr);
  grid-template-rows: 2 1fr;
  justify-items: center;
}
main section #pagina-proyecto .proyecto1 {
  grid-area: proyecto1;
}
main section #pagina-proyecto .proyecto2 {
  grid-area: proyecto2;
}
main section #pagina-proyecto .proyecto3 {
  grid-area: proyecto3;
}
main section #pagina-proyecto .proyecto4 {
  grid-area: proyecto4;
}
main section #pagina-proyecto .proyecto5 {
  grid-area: proyecto5;
}
main section #pagina-proyecto .proyecto6 {
  grid-area: proyecto6;
}
main section div h4 {
  font-family: "bebas neue";
  font-size: 30px;
  color: black;
  background-color: #e8a197;
  text-align: center;
  height: 40px;
  width: 350px;
  padding: 5px;
  margin: 10px 50px;
  border-radius: 15px;
}
main section div .carrusel-imagen {
  height: 350px;
  width: 350px;
  padding: 10px;
  margin: 10px 50px;
}
main section div p .texto-proyecto {
  font-family: "julius";
  font-size: 15px;
  color: black;
  background-color: #F4E7EC;
  text-align: center;
  height: 350px;
  width: 350px;
  padding: 5px;
  margin: 10px 50px;
  border-radius: 15px;
}

/*****SERVICIOS*****/
/*pagina servicios*/
main section #servicios {
  display: grid;
  grid-template-areas: "servicio1 servicio2 servicio3";
  grid-template-columns: repeat(3 1fr);
  grid-template-rows: 100%;
  align-self: center;
}
main section #servicios .diseño-de-marca {
  grid-area: servicio1;
}
main section #servicios .diseño-de-papeleria {
  grid-area: servicio2;
}
main section #servicios .diseño-web {
  grid-area: servicio3;
}
main section div .imagen-servicio {
  height: 300px;
  width: 400px;
  padding: 5px;
  margin: 15px;
}
main section div h3 {
  font-family: "bebas neue";
  font-size: 20px;
  color: black;
  background-color: #e8a197;
  text-align: center;
  height: 35px;
  width: 400px;
  padding: 5px;
  margin: 15px;
  border-radius: 15px;
}
main section div ul .lista-servicios {
  list-style-type: none;
  color: black;
  background-color: #F4E7EC;
  font-family: "julius";
  font-size: 20px;
  text-align: start;
  height: 100%;
  width: 400px;
  padding: 15px;
  margin: 15px;
  border-radius: 10px;
}
main section div .boton {
  font-family: "julius";
  text-decoration: none;
  background-color: #e8a197;
  text-align: center;
  height: 40px;
  width: 400px;
  padding: 10px;
  margin: 15px;
  border-radius: 15px;
}
main section div .boton .textoboton {
  text-decoration: none;
  color: black;
  font-size: 20px;
  padding: 1px;
  margin: 1px;
}

@media (min-width: 700px) and (max-width: 1200px) {
  main section #servicios {
    display: grid;
    grid-template-areas: "servicio1 servicio2 servicio3";
    grid-template-columns: repeat(3 1fr);
    grid-template-rows: 100%;
    align-self: center;
  }
  main section #servicios .diseño-de-marca {
    grid-area: servicio1;
  }
  main section #servicios .diseño-de-papeleria {
    grid-area: servicio2;
  }
  main section #servicios .diseño-web {
    grid-area: servicio3;
  }
  main section div .imagen-servicio {
    height: 200px;
    width: 300px;
    padding: 5px;
    margin: 15px;
  }
  main section div h3 {
    width: 300px;
  }
  main section div ul .lista-servicios {
    font-size: 15px;
    width: 300px;
  }
  main section div .boton {
    height: 30px;
    width: 300px;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
  }
  main section div .boton .textoboton {
    font-size: 15px;
  }
}
/*pagina servicios*/
@media (min-width: 320px) and (max-width: 699px) {
  main section #servicios {
    display: grid;
    grid-template-areas: "servicio1" "servicio2" "servicio3";
    grid-template-columns: 1fr;
    grid-template-rows: 450px 450px 400px;
    justify-items: center;
  }
  main section #servicios .diseño-de-marca {
    grid-area: servicio1;
  }
  main section #servicios .diseño-de-papeleria {
    grid-area: servicio2;
  }
  main section #servicios .diseño-web {
    grid-area: servicio3;
  }
  main section div .imagen-servicio {
    height: 200px;
    width: 300px;
    padding: 5px;
    margin: 5px;
  }
  main section div h3 {
    font-size: 20px;
    height: 25px;
    width: 300px;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
  }
  main section div ul .lista-servicios {
    font-size: 12px;
    text-align: start;
    height: 100%;
    width: 300px;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
  }
  main section div .boton {
    height: 30px;
    width: 300px;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
  }
  main section div .boton .textoboton {
    font-size: 15px;
  }
}
/*****CONTACTO*****/
/*pagina de contacto*/
main section #main-contactos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main section div h4 .titulo-contacto {
  font-family: "bebas neue";
  font-size: 25px;
  color: black;
  background-color: #e8a197;
  text-align: center;
  height: 35px;
  width: 350px;
  padding: 5px;
  margin: 10px 180px;
  border-radius: 15px;
}
main section div nav ul .lista-contacto {
  list-style-type: none;
  background-color: #F4E7EC;
  font-family: "julius";
  font-size: 20px;
  height: 100%;
  width: 500px;
  padding: 15px;
  margin: 15px 100px;
  border-radius: 10px;
}
main section div nav ul .lista-contacto .iconos {
  height: 55px;
  width: 55px;
  padding: 5px;
  margin: 10px;
}
main section div nav ul .lista-contacto .texto6 {
  text-align: start;
  color: black;
  text-decoration: none;
}
main section div iframe {
  height: 440px;
  width: 500px;
  padding: 5px;
  margin: 5px 100px;
}
main section div form div input {
  background-color: #e8a197;
  font-family: "julius";
  font-size: 20px;
  text-align: center;
  height: 100%;
  width: 500px;
  padding: 5px;
  margin: 5px 100px;
  border-radius: 10px;
  border: #e8a197;
}
main section div form div textarea {
  background-color: #e8a197;
  font-family: "julius";
  font-size: 20px;
  text-align: start;
  height: 100%;
  width: 500px;
  padding: 5px;
  margin: 5px 100px;
  border-radius: 10px;
  border: #e8a197;
}
main section div form div button {
  background-color: #e8a197;
  font-family: "julius";
  font-size: 20px;
  text-align: center;
  height: 100%;
  width: 500px;
  padding: 5px;
  margin: 5px 100px;
  border-radius: 10px;
  border: #e8a197;
}

@media (min-width: 320px) and (max-width: 699px) {
  main section #main-contactos {
    display: grid;
    grid-template-areas: "contacto1" "mapa" "formulario";
    grid-template-rows: 300px 400px 550px;
    justify-items: center;
  }
  main div h4 .titulo-contacto {
    font-size: 20px;
    height: 35px;
    width: 300px;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
  }
  main div nav ul .lista-contacto {
    font-size: 12px;
    width: 300px;
    padding: 15px;
    margin: 10px;
  }
  main div nav ul .lista-contacto .iconos {
    height: 30px;
    width: 30px;
    padding: 5px;
    margin: 5px;
  }
  main div nav ul .lista-contacto .texto6 {
    font-size: 12px;
  }
  main div iframe {
    height: 250px;
    width: 300px;
    padding: 5px;
    margin: 5px;
  }
  main div form div input {
    font-size: 15px;
    width: 300px;
    padding: 5px;
    margin: 5px;
  }
  main div form div textarea {
    font-size: 15px;
    width: 300px;
    padding: 5px;
    margin: 5px;
  }
  main div form div button {
    font-size: 15px;
    width: 300px;
    padding: 5px;
    margin: 5px;
  }
}

/*# sourceMappingURL=estilos.css.map */
